{% extends "items/base.html" %}

{% block main %}
    <div class="row-fluid">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="id">#</th>
                    <th>Nazwa</th>
                    <th>Opis</th>
                    <th class="availability">Dostępne?</th>
                    <th>Wypożyczone przez</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td class="id">
                            {{ item.pk }}
                        </td>
                        <td class="name">
                            <a href="{% url 'view_item' item_id=item.pk %}">{{ item.name }}</a>
                        </td>
                        <td class="description">
                            {{ item.description|safe }}
                        </td>
                        <td class="availability">
                            {% if item.available %}
                                <span class="label label-success">Tak</span>
                            {% else %}
                                <span class="label label-danger">Nie</span>
                            {% endif %}
                        </td>
                        <td class="reservation">
                            {% if item.rented_by %}
                                <a href="#">{{ item.rented_by.username }}</a>
                            {% else %}
                                <a href="{% url 'reserve_item' item.pk %}" class="btn btn-xs btn-primary btn-block">Rezerwuj</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div><!-- .row -->

{% endblock %}
