{% extends "items/base.html" %}
{% load i18n admin_modify staticfiles %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static "css/jquery-ui.min.css" %}">
    <link rel="stylesheet" href="{% static "css/jquery-ui.structure.min.css" %}">
    <link rel="stylesheet" href="{% static "css/jquery-ui-1.10.0.custom.css" %}">
{% endblock %}

{% block extrafooter %}
    <script src="{% static "js/vendor/jquery-ui.min.js" %}"></script>
    {{ block.super }}
{% endblock %}

{% block main %}
    <form action="/reserve" method="post">
        <div class="input-group">
            {{ form.reserve_to }}
            <span class="input-group-addon glyphicon glyphicon-calendar"></span>
        </div>
        <input type="submit" value="Submit">
    </form>
{% endblock %}
