{% extends "items/base.html" %}
{% load thumbnail %}

{% block main %}
    <p>Nazwa: {{ item.name }}</p>
    <p>Opis: {{ item.description }}</p>
    {% thumbnail item.image 150x150 as image %}
    {% if image %}
        <p>Zdjecie: <img src="{{ image.url }}"></p>
    {% endif %}
    <p>
        Dodany przez:
        {% if item.added_by %}
            <a href="{% url 'view_user' item.added_by.pk %}">{{ item.added_by.username }}</a>
        {% else %}
            Anonima.
        {% endif %}
    </p>
    <p>
        Wypożyczony przez:
        {% if item.rented_by %}
            <a href="{% url 'view_user' item.rented_by.pk %}">{{ item.rented_by.username }}</a>
        {% else %}
            Nikogo.
        {% endif %}
    </p>
{% endblock %}
